@import "tailwindcss";

@theme {
  --color-red: #c4161c;
  --color-blue: #083b95;
  --color-lightBlue: #547cb9;
  --color-brown: #666666;
  --color-customGreen: #d2e6d7;
  --color-customRed: #d7788c;

    --font-sans: "Arial", "Helvetica", sans-serif;
  --font-serif: "Georgia", "Cambria", serif;
  --font-lato: "Lato", sans-serif;
  --font-header: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;

}

